<div class="card">
    <img src="{{person-image person.imageUrl 'no-image.png'}}" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">{{person.firstName}} {{person.lastName}}</h5>
        <p class="card-text">Age : {{person.age}}</p>
        <p class="card-text">Profession: {{person.profession}}</p>
        <a href="#" class="btn btn-success btn-sm">More info</a>
    </div>
</div>